@use "../../abstract" as *;

.service-question-section {
  padding: 60px 0;
  margin-top: 50px;
  background-color: $lightgrey;
  @media (max-width: 768px) {
    margin-top: 30px;
    padding: 40px 0;
  }
  .service-question-container {
    width: 963px;
    margin: auto;
    @media (max-width: 1280px) {
      width: 70%;
    }
    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 560px) {
      width: 90%;
    }
    .service-questions {
      display: flex;
      flex-direction: column;
    }
  }
  .service-question-title {
    @include heading-48();
    text-align: center;
    margin-bottom: 20px;
    @media (max-width: 1280px) {
      margin-bottom: 10px;
    }
  }
  .service-question-description {
    @include text-18();
    max-width: 553px;
    margin: 0 auto 56px auto;
    text-align: center;
    @media (max-width: 1280px) {
      margin-bottom: 30px;
    }
  }
}
