@use "../../abstract" as *;

.header-container {
  width: 90%;
  max-width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 35px;
      height: 35px;
    }

    h3 {
      @include heading-32();
      color: $primary;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    position: relative;
    @media (max-width: 768px) {
      display: none;
    }
    .active {
      border-bottom: 1.5px solid $secondary;
    }

    li {
      a {
        @include text-16(16px, 600, 1.75em, 0.01em);
        text-decoration: none;
        color: $primary;
      }
    }
  }
  .pages {
    span {
      cursor: pointer;
    }
  }
  .pages:hover .dropdown-menu {
    top: 50px;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-menu {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 20px 30px;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 100;
    opacity: 0;
    border-radius: 10px;
    background-color: $secondary;
    transition: all ease-in 0.3s 0.1s;
    li {
      a:hover {
        color: $textgrey;
      }
    }
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $secondary;
      position: absolute;
      top: -4%;
      right: 15%;
      transform: rotate(45deg);
    }
  }

  .phone-number {
    display: flex;
    justify-content: end;
    gap: 8px;
    @media (max-width: 768px) {
      display: none;
    }
    img {
      width: 19px;
      height: 19px;
      margin-top: 2px;
    }

    p {
      color: $primary;
    }
  }

  .menu-icon {
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
