@use "../../abstract" as *;


.header-container {
    width: 90%;
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
    overflow: hidden;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 35px;
            height: 35px;
        }

        h3 {
            @include heading-32 ();
            color: $primary;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
        .active {
            border-bottom: 1.5px solid $secondary;
        }

        li {
            a {
                @include text-16 (16px, 600, 1.75em, 0.01em);
                text-decoration: none;
                color: $primary;
            }
        }

        .dropdown-menu {
            display: none;

            ul {
                list-style: none;
                background-color: yellow;
            }
        }
    }

    .phone-number {
        display: flex;
        justify-content: end;
        gap: 8px;

        img {
            width: 19px;
            height: 19px;
            margin-top: 2px;
        }

        p {
            color: $primary;
        }
    }

    .menu-icon {
        width: 25px;
        height: 25px;
        display: none;
        cursor: pointer;
    }
}


@media only screen and (max-width: 1080px) {
    .header-container {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    .header-container {
        .menu {
            display: none;
        }
        .phone-number {
            display: none;
        }
    }
    .header-container .menu-icon {
        display: block;
    }
}