@use "../../abstract" as *;

.experience-section {
  background-color: $lightgrey;
}
.experience-container {
  width: 90%;
  max-width: 1320px;
  margin: auto;
  padding: 80px 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
  gap: 10px;
  @media (max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
  }
  @media (max-width: 560px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .items {
    text-align: center;
    // background-color: red;
    .icon {
      width: 128px;
      height: 128px;
      margin: auto;
      @media (max-width: 1280px) {
        width: 100px;
        height: 100px;
      }
      @media (max-width: 1080px) {
        width: 110px;
        height: 110px;
      }
      @media (max-width: 768px) {
        width: 90px;
        height: 90px;
      }
      @media (max-width: 560px) {
        width: 70px;
        height: 70px;
      }
    }
    .items-text {
      @include text-20(20px, 900, 1.6em, -0.01em);
      color: $primary;
      margin-top: 24px;
      @media (max-width: 1280px) {
        margin-top: 12px;
      }
      @media (max-width: 1080px) {
        margin-top: 18px;
      }
      @media (max-width: 768px) {
        margin-top: 12px;
      }
    }
  }
  .line {
    height: 100%;
    background-color: $bordergrey;
    @media (max-width: 1080px) {
      display: none;
    }
  }
}
