@use "../abstract" as *;

@mixin btn($bg-color, $text-color) {
  padding: 15px 35px;
  color: $text-color;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all 0.4s;
  background-color: $bg-color;
  @include text-18(18px, 600);
}
