@use "../abstract" as *;

.contact-card {
  padding: 48px;
  border: 1px solid $textgrey;
  background-color: white;
  border-radius: 12px;
  text-align: center;
  @media (max-width: 1280px) {
    padding: 40px;
  }
  @media (max-width: 1080px) {
    padding: 30px;
  }
  @media (max-width: 560px) {
    border-radius: 8px;
  }
  .icon {
    background-color: $secondary;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1080px) {
      width: 60px;
      height: 60px;
    }
    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
    }
    img {
      width: 44px;
      height: 44px;
      @media (max-width: 1080px) {
        width: 30px;
        height: 30px;
      }
      @media (max-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }
  .contact-title {
    margin-top: 32px;
    @include heading-24();
    @media (max-width: 1080px) {
      margin-top: 20px;
    }
  }
  .contact-info {
    margin-top: 20px;
    @include text-18();
    @media (max-width: 1080px) {
      margin-top: 10px;
    }
  }
}
