@use "../abstract" as *;

.main-form {
  padding: 40px;
  border: 1px solid $bordergrey;
  border-radius: 24px;
  @media (max-width: 560px) {
    padding: 20px;
  }
  &-medium-padding {
    padding: 48px;
  }
  &-large-padding {
    padding: 64px;
  }
  &-borderless {
    border: none;
  }
  &-paddingless {
    padding: 0;
  }

  .form-title {
    @include heading-48();
    color: $primary;
    margin-bottom: 12px;
    &-medium-margin {
      margin-bottom: 16px;
      @media (max-width: 768px) {
        margin-bottom: 14px;
      }
    }
    &-large-margin {
      margin-bottom: 32px;
      @media (max-width: 1080px) {
        margin-bottom: 26px;
      }
      @media (max-width: 768px) {
        margin-bottom: 22px;
      }
    }
  }
  .form-description {
    @include text-18();
    color: $primary;
    margin-bottom: 16px;
    &-medium-margin {
      margin-bottom: 24px;
      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
    &-large-margin {
      margin-bottom: 32px;
      @media (max-width: 1080px) {
        margin-bottom: 26px;
      }
      @media (max-width: 768px) {
        margin-bottom: 22px;
      }
    }
  }
  .socials-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    @media (max-width: 1080px) {
      margin-bottom: 26px;
    }
    @media (max-width: 768px) {
      margin-bottom: 22px;
    }
    .icon {
      width: 165px;
      height: 56px;
      border-radius: 40px;
      border: 1px solid $textgrey;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media (max-width: 1400px) {
        width: 31%;
        height: 50px;
      }
      @media (max-width: 768px) {
        height: 50px;
      }
      @media (max-width: 560px) {
        height: 40px;
      }
      img {
        width: 32px;
        height: 32px;
        @media (max-width: 1080px) {
          width: 25px;
          height: 25px;
        }
        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .all-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-medium-gap {
      gap: 24px;
      @media (max-width: 768px) {
        gap: 16px;
      }
    }
  }
  .input-field,
  .select-field {
    width: 100%;
    padding: 18px 16px 18px 24px;
    border-radius: 32px;
    border: 1px solid $bordergrey;
    background-color: $lightgrey;
    @include text-18();
    color: $primary;
    @media (max-width: 1280px) {
      padding: 15px 16px 15px 24px;
    }
    @media (max-width: 1080px) {
      padding: 12px 16px 12px 24px;
    }
    &-light {
      background-color: white;
    }
    &-borderless {
      border: none;
    }
    &:focus {
      outline: none;
    }
  }
  .select-field {
    padding: 21px 16px 21px 24px;
    @media (max-width: 1280px) {
      padding: 18px 16px 18px 24px;
    }
    @media (max-width: 1080px) {
      padding: 15px 16px 15px 24px;
    }
  }

  .text-area-field {
    width: 100%;
    padding: 17px 16px 17px 24px;
    border-radius: 12px;
    border: 1px solid $bordergrey;
    resize: none;
    background-color: $lightgrey;
    @include text-18();
    &-medium-rounded {
      border-radius: 16px;
    }
    &-large-rounded {
      border-radius: 32px;
      @media (max-width: 1080px) {
        border-radius: 12px;
      }
    }
    &-light {
      background-color: white;
    }
    &-borderless {
      border: none;
    }
    &:focus {
      outline: none;
    }
  }
  .forget-text {
    @include text-16();
    color: $primary;
    text-align: right;
    margin-top: 12px;
  }
  .submit-btn {
    @include btn($secondary, $primary);
    cursor: pointer;
    margin-top: 32px;
    width: 100%;
    @media (max-width: 1080px) {
      margin-top: 26px;
    }
    @media (max-width: 768px) {
      margin-top: 22px;
    }
  }
  .terms-policy {
    @include text-18();
    color: $primary;
    margin-top: 32px;
    @media (max-width: 1080px) {
      margin-top: 26px;
    }
    @media (max-width: 768px) {
      margin-top: 22px;
    }
    span {
      a {
        @include text-18(18px, 600, 1.66em, 0.02em);
        color: $primary;
      }
    }
  }
  .account-validation {
    @include text-18();
    color: $primary;
    margin-top: 24px;
    @media (max-width: 768px) {
      margin-top: 15px;
    }
    span {
      a {
        @include text-18(18px, 600, 1.66em, 0.02em);
        color: $secondary;
        margin-left: 5px;
      }
    }
  }
}
