@use "../abstract" as *;

.socials-container {
  display: flex;
  align-items: center;
  &-center {
    justify-content: center;
  }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    a {
      width: 36px;
      height: 36px;
      border: 1px solid $greyblue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        @include text-14();
        color: $greyblue;
      }
    }
  }
}
