@use "../../abstract" as *;

.hero-section {
  width: 90%;
  max-width: 1320px;
  margin: auto;
}

.hero-section-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 648px);
  grid-gap: 20px;
  margin: 10px 0 100px 0;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-left-col {
    background-color: $primary;
    border-radius: 24px;
    padding: 40px 40px;

    h4 {
      @include text-16();
      color: $lightgrey;

      span {
        color: $secondary;
      }
    }

    h2 {
      @include heading-64();
      color: $lightgrey;
      padding: 20px 0;
    }

    p {
      @include text-20(
        $size: 20px,
        $weight: 500,
        $height: 1.6em,
        $spacing: -0.01em
      );
      color: $textgrey;
    }

    button {
      @include btn($secondary, $primary);
      margin-top: 40px;
    }
  }

  .hero-right-col {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .hero-right-upper-row {
      width: 100%;
      height: 50%;
      border-radius: 24px;
      overflow: hidden;
      position: relative;

      .cleaning-tools {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .square-part {
        position: absolute;
        left: 5%;
        top: 5%;
      }
    }

    .hero-right-down-row {
      height: 50%;
      display: flex;
      border-radius: 24px;
      overflow: hidden;
      background-color: $lightgrey;

      .slider-image {
        width: 40%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .slider-content {
        padding: 15px;
        position: relative;
        width: 60%;
      }

      .arrow-container {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 10%;
        left: 10%;

        div {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
        }

        .left-arrow {
          border: 1px solid $secondary;
        }

        .right-arrow {
          background-color: $secondary;
          border: 1px solid $secondary;
        }
      }
    }
  }
}
