@use "../abstract" as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');

:root {
    --primary: #{$primary-hex};
    --secondary: #{$secondary-hex};
    --grey-blue: #{$rhino-hex};
    --light-grey: #{$light-grey-hex};
    --border-grey: #{$border-grey-hex};
    --text-grey: #{$text-grey-hex};
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    // width: 1700px;
    // margin: auto;
    font-family: 'Manrope', sans-serif;
    // overflow-x: hidden;
}