@use "../abstract" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --primary: #{$primary-hex};
  --secondary: #{$secondary-hex};
  --grey-blue: #{$rhino-hex};
  --light-grey: #{$light-grey-hex};
  --border-grey: #{$border-grey-hex};
  --text-grey: #{$text-grey-hex};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Manrope", sans-serif;
}
