@use "../../abstract" as *;

.member-details-section {
  width: 80%;
  max-width: 1095px;
  margin: 100px auto;
  @media (max-width: 1400px) {
    width: 85%;
  }
  @media (max-width: 560px) {
    margin: 70px auto;
  }
  .personal-details {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1400px) {
      gap: 20px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .member-profile {
      width: 536px;
      height: 557px;
      object-fit: cover;
      border-radius: 12px;
      @media (max-width: 1400px) {
        width: 50%;
        height: 450px;
      }
      @media (max-width: 768px) {
        width: 100%;
        height: 420px;
      }
      @media (max-width: 560px) {
        width: 100%;
        height: 350px;
      }
    }
    .member-info {
      width: 535px;
      height: auto;
      border-radius: 16px;
      background-color: $textgrey;
      padding: 48px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      @media (max-width: 1400px) {
        width: 50%;
        padding: 25px;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      .member-info-title {
        @include heading-32();
        color: $primary;
        text-align: center;
      }
      .member-name,
      .about,
      .phone,
      .socials-container {
        @include text-18();
        color: $primary;
        background-color: $lightgrey;
        padding: 16px;
        border-radius: 12px;
        span {
          @include text-18(18px, 900, 1.66em, 0.02em);
        }
      }
      .about {
        display: flex;
        gap: 5px;
        @include text-16();
      }
    }
  }
  .experience-and-skills-details {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1400px) {
      gap: 20px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
    .experience-details {
      width: 535px;
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      .experience-title {
        @include heading-32();
        color: $primary;
        padding-bottom: 10px;
      }
      .experience-description {
        @include text-18();
        color: $primary;
        margin-top: 20px;
        @media (max-width: 768px) {
          margin-top: 0px;
        }
      }
    }
    .skills-details {
      width: 535px;
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      .skill-title {
        @include heading-32();
        color: $primary;
        border-bottom: 1.5px solid $textgrey;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
      .skill-item {
        margin-top: 15px;
        @media (max-width: 768px) {
          margin-top: 5px;
        }
        .skill-name {
          @include text-18(18px, 500, 1.66em, 0.02em);
          color: $primary;
        }
        .progress-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 3px;
          margin-top: 5px;
          .progress {
            width: 100%;
            height: 10px;
            border-radius: 20px;
            background-color: $textgrey;
            background-color: #c1c4c9;
            position: relative;
            &::before {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 20px;
              background-color: $secondary;
              position: absolute;
              left: 0;
            }
          }
          .progress-one {
            &::before {
              width: 55%;
            }
          }
          .progress-two {
            &::before {
              width: 65%;
            }
          }
          .progress-three {
            &::before {
              width: 90%;
            }
          }
          p {
            @include text-14();
            color: $greyblue;
          }
        }
      }
    }
  }
}
