@use "../../abstract" as *;

.question-section {
  width: 90%;
  max-width: 1320px;
  margin: auto;
  .question-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
    .question-title {
      width: 697px;
      @media (max-width: 1400px) {
        width: 48%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }

      @include heading-40();
      color: $primary;
      &-center {
        text-align: center;
      }
    }
    .question-description {
      width: 599px;
      @media (max-width: 1400px) {
        width: 48%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      @include text-18();
      &-center {
        text-align: center;
      }
    }
  }
  .question-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 25px;
    }
    .question-and-answer-container {
      width: 697px;
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      &-center {
        margin: auto;
      }
    }
    .question-form {
      width: 599px;
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
