/*========TEXT===========*/
@mixin heading-64(
  $size: 64px,
  $weight: 700,
  $height: 1.21em,
  $spacing: -0.003em
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;

  @media (max-width: 1380px) {
    font-size: 50px;
  }

  @media (max-width: 1024px) {
    font-size: 35px;
  }
  @media (max-width: 768px) {
    font-size: 40px;
  }
}
@mixin heading-48(
  $size: 48px,
  $weight: 900,
  $height: 1.25em,
  $spacing: -0.03em
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  @media (max-width: 1080px) {
    font-size: 35px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

@mixin heading-40(
  $size: 40px,
  $weight: 700,
  $height: 1.25em,
  $spacing: -0.03em
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin heading-32($size: 32px, $weight: 900, $spacing: -0.005em) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  @media (max-width: 1080px) {
    font-size: 18px;
  }
}

@mixin heading-24(
  $size: 24px,
  $weight: 700,
  $height: 1.33em,
  $spacing: -0.008em
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}
@mixin text-20($size: 20px, $weight: 700, $height: 1.6em, $spacing: -0.01em) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  @media (max-width: 1080px) {
    font-size: 18px;
  }
}
@mixin text-18($size: 18px, $weight: 400, $height: 1.66em, $spacing: 0.02em) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
@mixin text-16($size: 16px, $weight: 400, $height: 1.75em, $spacing: 0.01em) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}
@mixin text-14($size: 14px, $weight: 300, $height: 1.75em, $spacing: 0.01em) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

/*========BUTTON===========*/
@mixin btn($bg-color, $text-color) {
  padding: 15px 35px;
  color: $text-color;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: all 0.4s;
  background-color: $bg-color;
  @include text-18(18px, 600);
}
