$primary-hex: #0D1C38;
$secondary-hex: #FFC700;
$rhino-hex:#2E4062;
$light-grey-hex: #FAFAFA;
$border-grey-hex: #E6E7E8;
$text-grey-hex: #F2F3F5;




$primary: var(--primary);
$secondary: var(--secondary);
$greyblue: var(--grey-blue);
$lightgrey: var(--light-grey);
$bordergrey: var(--border-grey);
$textgrey: var(--text-grey);